.code{
  font-family:"Courier New", Monaco, "Lucida Sans Typewriter", sans-serif;background-color:#282c34;color:#abb2bf;padding:20px;font-size:18px;line-height:22px;white-space:nowrap;overflow:auto;

  .object{color:#e06a64;}
  .comment{color:#5c6370;font-style:italic;}
  .method{color:#61afef;}
  .number{color:#dfb672;}
  .string{color:#98c379;}
}
