$he_select_height:35px;
$he_select_button_width:22px;
$he_select_option_height:35px;

$he_select_trimcolor:#282c34;
$he_select_bgcolor:#fff;
$he_select_itembordercolor:#ccc;
$he_select_activebgcolor:blue;
$he_select_activetxtcolor:#fff;

select.init-he-styled-select{display:none !important;}

.he-styled-select-wrap{
  cursor:pointer;border:solid 1px $he_select_trimcolor;position:relative;width:100%;max-width:500px;height:$he_select_height;line-height:$he_select_height;display:inline-block;white-space:nowrap;

  .he-select-el{box-sizing:border-box;-moz-box-sizing:border-box;position:relative;width:100%;height:100%;overflow:hidden;}

  .select-val,
  .he-select-el select{-webkit-appearance:none;padding:0 ($he_select_height / 2);border-right:solid $he_select_button_width transparent;overflow:hidden;white-space:nowrap;position:absolute;left:0;top:0;width:100%;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;}

  .he-select-el select{cursor:pointer;display:block !important;width:110%;height:100%;border:none;outline:none;background-color:transparent;}
  .he-select-el select option{color:$he_select_trimcolor;background-color:$he_select_activetxtcolor;}

  .select-options{
    overflow:auto;max-height:(7 * $he_select_option_height);box-shadow:-1px 1px 2px rgba(0,0,0,.8);position:absolute;top:100%;left:0;display:block;width:100%;cursor:pointer;display:none;border:solid 1px $he_select_trimcolor;background-color:$he_select_bgcolor;

    .select-option{border-bottom:solid 1px $he_select_itembordercolor;padding:0 ($he_select_height / 2);width:100%;height:$he_select_option_height;line-height:$he_select_option_height;display:block;white-space:nowrap;overflow:hidden;}
    .select-option:hover{background-color:$he_select_itembordercolor;}
    .select-option.selected{background-color:$he_select_activebgcolor;color:$he_select_activetxtcolor;}
    .select-option:last-child{border-bottom:none;}
  }

  .select-btn{
    position:relative;background-color:$he_select_trimcolor;position:absolute;top:0;right:0;width:$he_select_button_width;height:100%;

    &:after{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;content:"";width:0;height:0;border-style:solid;border-width:($he_select_height / 4) ($he_select_button_width / 4) 0 ($he_select_button_width / 4);border-color:$he_select_bgcolor transparent transparent transparent;}
  }
}

.he-styled-select-wrap.select-open{

  z-index:9999;border:solid 1px $he_select_activebgcolor;

  background-color:$he_select_activebgcolor;

  .select-val,
  .he-select-el select{color:$he_select_activetxtcolor;}
  .select-options{display:block;z-index:9999;}
  .select-btn{background-color:$he_select_activebgcolor;}
}
